/* Font & general stuff ----*/
p {
	font-size: 22px;
	font-family: 'Roboto';
  margin-bottom: 1em;
  font-weight: lighter;
}

body {
	background-color: #ffffff;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	height: 100%;
	margin: 0 auto;
  max-width: 1600px;
}

header {
	text-align: center;
	margin-top: 80px;
}

footer { 
	color: white;
	font-size: small;
	text-align: center;
	clear: both;
	position: fixed;
	left:0px;
	bottom:0px;
	height:60px;
	width:100%;
	padding-top: 38px;
	background-image: -webkit-linear-gradient(270deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
}
/* ----------------------------------------------------------- 

/* About me  ----*/

.img-circle { /* circle photo */
	border-radius: 50%;
	max-width:100%;
	max-height:100%;
  border: 2px solid #bababa;
}

.edu {
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-family: 'Playfair Display';
  line-height: 1em;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
}

.aboutme {
	font-size: 1.35em;
}

.coursework {
  list-style-image: url(icon/favicon.ico);
  font-size: 1.15em;
}

.sectionRight {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /*background-color: #f2f2f2; */
  background-image: -webkit-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: -moz-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: -o-linear-gradient(270deg,rgba(242, 242, 242,0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: linear-gradient(180deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
}
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */

/* Navbar ----*/
navbar-collapse.in,
.navbar-collapse.collapsing {
	clear: right;
  opacity: 1.0;
}

nav {
	float: left;
  opacity: 0.9;
}

.navlist {
	list-style-type: none;
	margin: 0px;
  padding-right: 5px;
  float: right;
}

.navlistitem {
	float: none;
	display: block;
	text-align: right;
	padding-right: 5px
	padding-left: 5px; 
}

.navlistitem a {
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px
	padding-bottom: 16px;
}

.container-fluid .navbar-header .navbar-brand {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	color: #ffffff;
	text-shadow: #000 0px 0px 1px;
	-webkit-font-smoothing: antialiased;
}

.navbar-brand .cloud {
  border: none;
  background: none;
  padding-left: 30px;
}

.container-fluid {
  position: absolute;
  width: 100%;
  background-color: #82CAFF;
  border-bottom: 1px solid #f2f2f2;
}

.container-fluid .navbar-collapse .navlistitem a, 
.container-fluid .navbar-collapse .dropdown .dropdown-menu .dropdown-item > a {
  color: #ffffff;
  background-color: #82CAFF;
}

.container-fluid .navbar-collapse .navlistitem > .active > a, 
.container-fluid .navbar-collapse .navlistitem > a:hover, 
.container-fluid .navbar-collapse .dropdown > a:hover,
.container-fluid .navbar-collapse .dropdown > a:focus,
.container-fluid .navbar-collapse .dropdown .dropdown-menu .dropdown-item > a:hover,
.container-fluid .navbar-header .navbar-toggle {
  color: #82CAFF;
  background: #ffffff;
}

.container-fluid .navbar-header .navbar-toggle .icon-bar {
  background-color: #82CAFF;
}

.container-fluid .navbar-collapse .dropdown .dropdown-menu {
  color: #ffffff;
  background-color: #82CAFF;
  opacity: 0.9;
  text-align: right;
}

/* ----------------------------------------------------------- */

/* Home page pictures ----*/


.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.figure-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info1, .info2 {
  padding: 40px;
  background-color: #fff;
  color: #000;
  text-align: center;
  top: 50%;
  left: 50%;
}

.info1 p {
  font-size: 3em;
font-style: normal;
font-weight: 400;
line-height: 1em;
font-family: 'Playfair Display';
  text-align: center;
}

.info1 {
  margin-top: 80px;
  text-align: center;
  width: 100%;
  text-align: center;
}

/* ----------------------------------------------------------- */

/* Fixing formatting for small screens ----*/

@media (min-width: 750px) {

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .info2 {
    grid-column: span 2;
    grid-row : span 2;
  }

  .info1 {
    grid-column: span 2;
  }

  .figure1 {
    grid-column: span 2;
  }

  .figure4 {
    grid-column: span 1;
    grid-row: span .5;
  }

  .figure5 {
    grid-column: span 1;
    grid-row: span .5;
  }

  .figure6 {
    grid-column: span 3;
    grid-row : span 2;
  }

  .figure7 {
    grid-column: span 3;
  }

  .figure11 {
    grid-column: span 2;
  }

  .figure12 {
    grid-row: span 3;
  }

  .figure13 {
    grid-row: span 3;
    grid-column: span 3;
  }

  .figure14 {
    grid-row: span 2;
  }

	.sectionRight {
		width: 90%;
		float: none;
		margin-right: 5%;
		margin-top: 30px;
		margin-left: 5%;
		margin-bottom: 100px;
	}
	
	.aboutblog {
		margin-bottom: 100px;
	}
}
/* ----------------------------------------------------------- */