/* Font & general stuff ----*/
p {
	font-size: 22px;
	font-family: 'Roboto';
  margin-bottom: 1em;
  font-weight: lighter;
}

body {
	background-color: #ffffff;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	height: 100%;
	margin: 0 auto;
  /*padding: 0;*/
}

header {
	text-align: center;
	margin-top: 80px;
}

footer {
	color: white;
	font-size: small;
	text-align: center;
	clear: both;
	position: fixed;
	left:0px;
	bottom:0px;
	height:60px;
	width:100%;
	padding-top: 38px;
	background-image: -webkit-linear-gradient(270deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(130,202,255,0.00) 0%,rgba(130,202,255,1.00) 100%);
}
/* -----------------------------------------------------------

/* About me  ----*/

.img-circle { /* circle photo */
	border-radius: 50%;
	max-width:100%;
	max-height:100%;
  border: 2px solid #bababa;
}

.edu {
  font-size: 3em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-family: 'Playfair Display';
  line-height: 1em;
}

.tagline {
	font-size: 3.3em;
	font-style: italic;
	text-align: center;
	font-family: 'Playfair Display';
	line-height: 1em;
}

.bio {
	font-family: 'Roboto';
	font-size: 2em;
	font-style: normal;
	padding-left: 15%;
	padding-right: 15%;
	text-align: center;
}

.title {
  font-size: 1.25em;
  font-weight: bold;
}

.year, .school-year {
  float: right;
}

.aboutme {
	font-size: 1.35em;
}

.coursework {
  list-style-image: url(icon/favicon.ico);
  font-size: 1.15em;
}

.coursework a , #link a {
  color: #778899;
  text-decoration: none;
}

.coursework a:hover, #link a:hover {
  color: #82CAFF;
  text-decoration: none;
}

.tri-col {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 3%;
}

.col1, .col2, .col3 {
  text-align: center;
	float:left;
}

.sectionRight {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: -webkit-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: -moz-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: -o-linear-gradient(270deg,rgba(242, 242, 242,0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: linear-gradient(180deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
}
/* ----------------------------------------------------------- */

/* Projects  ----*/

.info3, .info4, .info3 p, .info4 p {
  padding: 5px;
  padding-top: 10px;
  color: #000;
  text-align: left;
  top: 50%;
  left: 50%;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25em;
}

.project-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.info3 {
	grid-column: span 2;
}

.figure {
  display: block;
  width: 70%;
  height: 70%;
  object-fit: contain;
  margin: auto;
}

.fig2, .fig1, .info3, .info4 {
  text-align: center;
  display: block;
  margin:auto;
}

.fig2 {
	grid-column: span 1;
	grid-row: span 1;
}

.info4 {
	grid-column: span 1;
	grid-row: span 2;
}

/* ----------------------------------------------------------- */

/* Navbar ----*/
navbar-collapse.in,
.navbar-collapse.collapsing {
	clear: right;
}

nav {
	float: left;
  opacity: 0.9;
}

.navlist {
	list-style-type: none;
	margin: 0px;
  padding-right: 5px;
  float: right;
}

.navlistitem {
	float: none;
	display: block;
	text-align: right;
	padding-right: 5px;
	padding-left: 5px;
}

.navlistitem a {
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
}

.container-fluid .navbar-header .navbar-brand {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	color: #ffffff;
	text-shadow: #000 0px 0px 1px;
	-webkit-font-smoothing: antialiased;
}

.navbar-brand .cloud {
  border: none;
  background: none;
  padding-left: 30px;
}

.container-fluid {
  position: absolute;
  width: 100%;
  background-color: #82CAFF;
  border-bottom: 1px solid #f2f2f2;
}

.container-fluid .navbar-collapse .navlistitem a,
.container-fluid .navbar-collapse .dropdown .dropdown-menu .dropdown-item > a {
  color: #ffffff;
  background-color: #82CAFF;
}

.container-fluid .navbar-collapse .navlistitem > .active > a,
.container-fluid .navbar-collapse .navlistitem > a:hover,
.container-fluid .navbar-collapse .dropdown > a:hover,
.container-fluid .navbar-collapse .dropdown > a:focus,
.container-fluid .navbar-collapse .dropdown .dropdown-menu .dropdown-item > a:hover,
.container-fluid .navbar-header .navbar-toggle {
  color: #82CAFF;
  background: #ffffff;
}

.container-fluid .navbar-header .navbar-toggle .icon-bar {
  background-color: #82CAFF;
}

.container-fluid .navbar-collapse .dropdown .dropdown-menu {
  color: #ffffff;
  background-color: #82CAFF;
  opacity: 0.9;
  text-align: right;
}

/* ----------------------------------------------------------- */

/* Home page ----*/

.skew {
	margin-top: -200px;
	padding: 200px 0;
	-webkit-transform: skew(0deg, -10deg);
	transform: skew(0deg, -10deg);
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.skew::before {
	content: url(img/lilypad.jpg);
	-webkit-transform: skew(0deg, 10deg);
	transform: skew(0deg, 10deg);
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

.smallerSectionRight {
	position: fixed;
	width: 70%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 25%;
  margin-right: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: -webkit-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: -moz-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: -o-linear-gradient(270deg,rgba(242, 242, 242,0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
  background-image: linear-gradient(180deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
}

.quote {
	font-family: 'Playfair Display';
	font-size: 2em;
	font-style: italic;
}

.author {
	font-family: 'Roboto';
	font-size: 1.25em;
}

.book {
	font-family: 'Roboto';
	font-style: oblique;
	font-size: 1em;
}

/* ----------------------------------------------------------- */

/* Fixing formatting for small screens ----*/

@media (max-width: 800px) {

	.smallerSectionRight {
		margin-left: 5%;
		width: 90%;
	}

	/* about -------------- */

	.title {
	font-size: 1em;
	}

	.tagline {
		font-size: 2em;
	}

	.bio {
		font-size: 1.25em;
	}

	.coursework {
		font-size: .9em;
		align-items: center;
	}

	.school-year {
		font-size: .9em;
		float: left;
	}

	.year {
		font-size: .9em;
	}

	.gpa {
		font-size: .9em;
	}

	.tri-col {
		display: block;
		align-content: center;
	}

	.col {
		display: block;
		padding-left: 40%;
		margin: auto;
		float: none;
	}

	.col1, .col2, .col3 {
		float: none;
	}

	.aboutmetitle {
		padding-left: 30%;
	}


/* projects -------------- */

  #cloud {
    grid-column: span 1;
  }

  .info4 {
    grid-column: span 2;
    grid-row: span 1;
  }

  .fig1 {
    grid-column: span 1;
  }

  .fig2 {
    grid-column: span 2;
		grid-row: span 1;
  }

/* home ----------------- */

	.aboutblog {
		margin-bottom: 100px;
	}
}

@media (max-width: 800px) {

	.aboutmetitle {
		padding-left: 15%;
	}
}

@media (max-width: 1100px) {

	.tri-col {
		grid-column-gap: 0%;
	}
}
/* ----------------------------------------------------------- */

/* Fixing formatting for large screens ----*/


@media (min-width: 1600px) {

.smallerSectionRight {
	margin-top: 200px;
	width: 90%;
	margin-left: 5%;
}

  .edu {
    font-size: 4em;
  }

  .title {
    font-size: 1.6em;
  }

  .aboutme {
    font-size: 1.7em;
  }

  .coursework {
    font-size: 1.5em;
  }
}
