p {
	font-size: 22px;
	font-family: 'Roboto';
}
.navbar-nav>li {
	float:right;
	font-family: 'Roboto';
}

.img-circle {
    border-radius: 50%;
}
#idpic {
	position: fixed;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.imagewithcaption {
	font-family: 'Roboto';
    font-size: 1em;
    position: fixed;
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

body {
	/* background-image: url(../oliviapetrillo.github.io/worldsend.jpg); */
	background-color: #ffffff;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	height: 100%;
	margin: 0;
	padding-top: 70px;
	padding-left: 24px;
}

h1 {
	font-size: 2em;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	line-height: 1em;
	height: 1em;

}
 h2 {
 	font-size: 1.5em;
	font-style: normal;
	font-weight: 400;
	text-align: center;
 }

 footer {
 	color: white;
 	font-size: small;
	text-align: center;
	clear: both;
 	position: fixed;
 	left:0px;
 	bottom:0px;
 	height:80px;
 	width:100%;
 	padding-top: 58px;
 	background-image: -webkit-linear-gradient(270deg,rgba(32, 60, 197,0.00) 0%,rgba(32, 60, 197,1.00) 100%);
 	background-image: -moz-linear-gradient(270deg,rgba(32, 60, 197,0.00) 0%,rgba(32, 60, 197,1.00) 100%);
 	background-image: -o-linear-gradient(270deg,rgba(32, 60, 197,0.00) 0%,rgba(32, 60, 197,1.00) 100%);
 	background-image: linear-gradient(180deg,rgba(32, 60, 197,0.00) 0%,rgba(32, 60, 197,1.00) 100%);
}

 header {
 	text-align: center;
 	margin-top: 70px;
 }

.asideLeft {
	width: 30%;
	float: left;
	celar:both;
	margin-right: 1%;
	margin-left: 5%;
	margin-top: 30px;
}

.sectionRight {
	width: 55%;
	float: right;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	/*background-color: #f2f2f2; */
	background-image: -webkit-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
 	background-image: -moz-linear-gradient(270deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
 	background-image: -o-linear-gradient(270deg,rgba(242, 242, 242,0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
 	background-image: linear-gradient(180deg,rgba(242, 242, 242, 0.00) 0%,rgba(242, 242, 242, 1.00) 100%);
}

nav {
	backrgound-color: #FFFFFF;
}

.navlist {
	list-style-type: none;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

.navlistitem {
	/* float: left; */
}

.navlistitem a {
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-left: 16px;
	padding-right: 16px
	padding-bottom: 16px;
	color: #203cc5;
}

.navlistitem a:hover {
	color: #000000;
	text-decoration: none;
	background-color: #358B6C;
}

.container-fluid .navbar-header .navbar-brand {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	color: #203cc5;
}

@media (max-width: 650px) {
	.asideLeft {
	width: 90%;
	float: none;
	celar:both;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 30px;
}

.sectionRight {
	width: 90%;
	float: none;
	margin-right: 5%;
	margin-top: 30px;
	margin-left: 5%;
	margin-bottom: 100px;
}
body {
	/* background-image: url(../oliviapetrillo.github.io/worldsend.jpg); */
	background-color: #ffffff;
	background-size: cover;
	background-attachment: fixed;
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	height: 100%;
	margin: 0;
	padding-top: 58px;
	padding-left: 24px;
}

h1 {
	font-size: 2em;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	line-height: 1em;
	height: 1em;
}
 header {
 	margin-top: 30px;
 }
}

.formStyle {
	width: 100%;
}

.socialmedia {
  border: solid 1px #dce8ea;
  color: #a6aebc;
  border-radius:5px;
 -moz-border-radius:5px;
  background: -moz-linear-gradient(top, #eaf7f9 0%, #d7e8ea 51%, #b5c9cc 51%, #91a9ad 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaf7f9), color-stop(51%,#d7e8ea), color-stop(51%,#b5c9cc), color-stop(100%,#91a9ad));
  width: 50px;
  height: 50px;
}

.fa-facebook {
	color: black;
	font-size: 2em;
}

.fa-twitter {
	color:black;
	font-size:2em;
}

.fa-instagram {
	color:black;
	font-size: 2em;
}

.fa-instagram:hover {
  color: #4f99a5;
}

.fa-twitter:hover {
	color:#4f99a5;
}

.fa-facebook:hover {
	color:#4f99a5;
}

.aboutme {
	font-size: 1.25em;
}

.aboutblog {
	font-size: 1em;
}

.minibio {
	font-size: 1em;
	font-weight: bold;

}

.boxedbio {
	outline: #f2f2f2 double;
	border-width: 200px 200px;
}

.nuwit {
	text-decoration: none;
	color: black;
}

.nuwit:hover {
	color: #699bea;
	text-decoration: none;
}

#my_centered_buttons { 
	display: flex; 
	justify-content: center; 
}
